body {
	color: $color-text-second;
	font-size: 18px;
	font-family: $ff-main;
}
.main {
	position: relative;
}
.container {
	max-width: 1310px;
	padding: 0 15px;
	margin: 0 auto;
}
.btn {
	padding: 13px 25px;
	border-radius: 8px;
	transition: all 0.3s ease-in;

	&:hover {
		background: transparent;
		color: $color-main;
	}
}
.suptitle {
	font-size: 14px;
	line-height: 21px;
	color: $color-accent;
	padding: 4px 8px;
	background: $bg-white;
	border-radius: 4px;
	display: inline-block;
	font-family: $ff-accent;
}
.title {
	font-size: 48px;
	line-height: 58px;
	color: $color-accent;
	font-family: $ff-accent;
}
.text {
	font-size: 18px;
	line-height: 27px;
	color: $color-text-main;
}
