// Font Falmily
$ff-main: "DM Sans";
$ff-accent: "Poppins";

// Color
$color-main: #fff;
$color-accent: #1f2937;
$color-text-main: #374151;
$color-text-second: #4b5563;
$color-gray: #6b7280;
$color-links: #111827;
$color-orange: #e0b420;
$color-green: #22a45a;

// Background
$bg-main: #00353b;
$bg-accent: #fcd8ca;
$bg-white: #ffffff;
$bg-green: #22a45a;
$bg-light-green: #AADEA8;
$bg-dark: #1F2937;