
.about {
	position: absolute;
	top: -210px;
	left: 0;
	right: 0;
	&__inner {
		padding: 64px 10px;
		background: $bg-accent;
		border-radius: 24px;
		text-align: center;
	}
	&__content {
		max-width: 768px;
		margin: 0 auto;
	}
	&__suptitle {
		margin: 0 0 11px 0;
	}

	&__title {
		margin: 0 0 30px 0;
	}

	&__text {
		font-size: 18px;
		line-height: 27px;
		color: $color-text-second;
		margin: 0 0 40px 0;
	}

	&__btn {
		background: $bg-dark;
		color: $color-main;
		border: 1px solid $bg-dark;
		padding: 12px 40px;
		font-size: 18px;
		&:hover {
			color: $bg-dark;
		}
	}
}