.benefit {
	text-align: center;
	padding: 0 0 520px 0;
	&__header {
		max-width: 760px;
		margin: 0 auto 80px;
	}
	&__suptitle {
		background: $bg-accent;
		margin: 0 0 11px 0;
	}

	&__title {
		margin: 0 0 28px 0;
	}

	&__text {
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 100px;
		padding: 0 0 80px 0;
	}

	&__items {
		display: flex;
		flex-direction: column;
		gap: 60px 0;
	}
	&__btn {
		background: $bg-dark;
		color: $color-main;
		border: 1px solid $bg-dark;
		&:hover {
			color: $color-accent;
		}
	}
}
