.burger {
	position: absolute;
	z-index: 100;
	height: 95vh;
	width: 50%;
	background: $bg-main;
	transform: translateX(-140%);
	transition: all 0.3s ease-in;
	&__menu {
	}

	&__list {
		margin: 75px 0 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 16px;
	}

	&__link {
		color: $color-main;
		font-size: 42px;
		transition: color 0.3s ease-in;

		&:hover {
			color: $color-green;
		}
	}
	&__btn {
		display: none;
	}
}
.active {
	transform: translateX(-10%);
}

@media (max-width: 768px) {
	.burger__btn {
		display: block;
	}
}
@media (max-width: 450px) {
	.burger__link {
		font-size: 28px;
	}
}
