.card {
	background-color: $bg-main;
	padding: 32px 24px;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 16px;
	height: 500px;
	width: 405px;
	background-repeat: no-repeat;
	background-position: 200px 230px;
	&__content {
	}

	&__suptitle {
		margin: 0 0 16px 0;
	}

	&__title {
		font-size: 24px;
		line-height: 33px;
		font-family: $ff-accent;
		color: $color-main;
		margin: 0 0 15px 0;
	}

	&__price {
		font-size: 18px;
		line-height: 27px;
		color: $color-main;
	}

	&__footer {
	}

	&__btn {
		background: $bg-green;
		color: $color-main;
		border: 1px solid $bg-green;
		padding: 9px 21px;
	}
}
@media (max-width: 1250px) {
	.card {
		width: 50%;
		background-position: calc(560px * 100% / 405px) calc(680px * 100% / 500px);
	}
}
@media (max-width: 768px) {
	.card {
		width: 100%;
		background-position: calc(900px * 100% / 700px) calc(680px * 100% / 500px);
	}
}
@media (max-width: 450px) {
	.card {
		background-position: calc(850px * 100% / 420px) calc(680px * 100% / 500px);
	}
}
