.item {
	max-width: 378px;
	&__icon {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background: $bg-icon;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__title {
		font-size: 24px;
		line-height: 33px;
		font-family: $ff-accent;
		color: $color-accent;
		margin: 32px 0 24px 0;
	}

	&__text {
		font-size: 16px;
		line-height: 24px;
		color: $color-text-main;
		max-width: 370px;
	}
}
.benefit {
	&__item {
		max-width: 225px;
	}
	&__icon {
		margin: 0 auto;
	}
	&__item-title {
		margin: 24px 0 15px 0;
	}
}
@media (max-width: 768px) {
	.item__icon {
		margin: 0 auto;
	}
}