.join {
	padding: 0 0 190px 0;
	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		padding: clamp(0.938rem, -1.765rem + 12.01vw, 4rem);
		background: $bg-accent;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 20px;
		border-radius: 24px 0 0 24px;
	}

	&__suptitle {
		margin: 0 0 11px 0;
	}

	&__title {
		margin: 0 0 30px 0;
	}

	&__text {
	}

	&__btn {
		background: $bg-dark;
		color: $color-main;
		border: 1px solid $bg-dark;
		&:hover {
			color: $color-accent;
		}
	}
	&__list {
		display: flex;
		padding: 80px 0 0 0;
		justify-content: space-between;
	}

	&__item {
		&-icon {
			width: 48px;
			height: 48px;
			border-radius: 50%;
			background: $bg-icon;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&-title {
			font-size: 24px;
			line-height: 33px;
			font-family: $ff-accent;
			color: $color-accent;
			margin: 32px 0 24px 0;
		}

		&-text {
			font-size: 16px;
			line-height: 24px;
			color: $color-text-main;
			max-width: 370px;
		}
	}
	&__img {
		width: 50%;
	}
}
@media (max-width: 768px) {
	.join__inner {
		flex-direction: column-reverse;
	}
	.join__content {
		text-align: center;
		border-radius: 0 0 24px 24px;
	}
	.join__img {
		width: 100%;
	}
	.join__list {
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 20px;
	}
}