.reviews {
	position: relative;
	&__inner {
		max-width: 1280px;
		position: absolute;
		top: -400px;
		padding: 100px 20px;
		background: $bg-accent;
		text-align: center;
		border-radius: 24px;
	}
	&__header {
		max-width: 730px;
		margin: 0 auto 80px;
	}
	&__suptitle {
		margin: 0 0 11px 0;
	}

	&__title {
		margin: 0 0 30px 0;
	}

	&__text {
	}
}
